// global styles

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  color: $white;
  height: 100%;
  font-family: "FoundersGroteskMono", courier, monospace;
  font-size: 16px;
  line-height: 24px;
  margin: 24px auto;
  max-width: 960px;
  padding: 24px;
  padding-bottom: 96px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a#logo {
    border-bottom: 0;
  }
}

nav {
  a {
    margin-left: 16px;
    ;
  }
}

h1 {
  color: $green;
}

h2 {
  color: $teal;
}

h3 {
  color: $pink;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $blue;

  &:hover {
    border-bottom: 1px solid $blue;
  }
}

input[type=email] {
  padding: 10px 18px 12px;
  border: 2px solid $blue;
  border-radius: 4px;
  color: $white;
  margin-right: 16px;
}

button {
  padding: 10px 18px 12px;
  background-color: $blue;
  color: $white;
  border-radius: 2px;
  cursor: pointer;
  height: 46px;

  &:hover {
    border-bottom: 0;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

}
